  #chatIcon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #4CAF50;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    z-index: 10000;
    color: white;
    font-size: 30px;
  }

  #chatOverlay {
    display: none;
    position: fixed;
    width: 350px;
    height: 450px;
    background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    z-index: 10000;
    flex-direction: column;
    overflow: hidden;
  }

  #chatHeader {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }

  #chatMessages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
  }

  #chatInput {
    display: flex;
    border-top: 1px solid #ddd;
  }

  #chatInput input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
  }

  #chatInput button {
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
  }